.tag-grid {
    .tag-grid__search-btn{
        display: block;
        margin: 2px auto;
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        justify-items: center;
        align-items: center;
        grid-gap: .5em;
        padding: 2em;

        strong{
            margin: 0 .3em;
        }

        & > div {
            width: 250px;
            padding: 1em;
            border: 1px solid #d3d3d3 ;
            border-radius: 5px;
        }
    }
}