.logs-search {
    padding: 1.3em;

    .logs-search__input-group {
        display: flex;
        align-items: center;
        padding: 0.3em;

        p {
            width: 9em;
        }

        .filter-input {
            width: 30em;
        }
    }
}
