.log-table {
    .log-table__search-btn {
        display: block !important;
        margin: auto;
    }

    .log-table__cell {
        padding: 2px;
    }

    .log-table__pagination {
        padding: 2px;
    }
}
